/*! Custom styles for this template */
.drive {
  background-color: #f2f5f8;
  border-color: #f2f5f8;
  color: #2c3e50;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.drive-toolbar {
  background-color: #f2f5f8;
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
}
.drive-toolbar:before,
.drive-toolbar:after {
  content: " ";
  display: table;
}
.drive-toolbar:after {
  clear: both;
}
.drive-body {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
       -o-animation-name: fadeInRight;
          animation-name: fadeInRight;
  padding: 15px;
}
.drive-empty-state {
  display: block;
  left: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
.has-files .drive-empty-state {
  display: none;
}
.drive-uploader-heading {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  margin-top: 0;
}
.drive-uploader-subheading {
  border-bottom: 1px solid transparent;
}
.drive-uploader-btn {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.drive-uploader-input {
  bottom: 0;
  cursor: inherit;
  font-size: 1000px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
.drive-overlay {
  border: 5px solid #d8e7b5;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: center;
  top: 50px;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  visibility: hidden;
  z-index: 1000;
}
.drive-dragover .drive-overlay {
  opacity: 1;
  visibility: visible;
}
.drive-notification {
  background-color: #dcedc8;
  border: 1px solid #d8e7b5;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
  color: #35cf76;
  display: inline-block;
  font-size: 12px;
  margin: 16px;
  padding: 10px 16px;
}
.layout-content {
  height: 100%;
  left: 0;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  z-index: 1000;
}
.file-select {
  cursor: pointer;
  display: none;
  font-weight: normal;
  height: 18px;
  margin-bottom: 0;
  position: absolute;
  right: 10px;
  top: 5px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 18px;
}
.file:hover .file-select {
  display: block;
}
.file-select-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.file-select-indicator {
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='%232c3e50'%3E%3Cpath d='M26.109 8.844q0 .625-.438 1.062L12.233 23.344q-.438.438-1.062.438t-1.062-.438l-7.781-7.781q-.438-.438-.438-1.062t.438-1.062l2.125-2.125q.438-.438 1.062-.438t1.062.438l4.594 4.609 10.25-10.266q.438-.438 1.062-.438t1.062.438l2.125 2.125q.438.437.438 1.062z'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 75% 75%;
          background-size: 75% 75%;
  border-color: #fff;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}
.file-select-input:checked ~ .file-select-indicator {
  background-color: #337ab7;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='%23fff'%3E%3Cpath d='M26.109 8.844q0 .625-.438 1.062L12.233 23.344q-.438.438-1.062.438t-1.062-.438l-7.781-7.781q-.438-.438-.438-1.062t.438-1.062l2.125-2.125q.438-.438 1.062-.438t1.062.438l4.594 4.609 10.25-10.266q.438-.438 1.062-.438t1.062.438l2.125 2.125q.438.437.438 1.062z'/%3E%3C/svg%3E");
}
.file.selected .file-select {
  display: block;
}
.modal.fade .modal-dialog {
  left: 50%;
  margin: 0;
  max-width: 90%;
  min-width: 320px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal-heading {
  border-bottom: 1px solid transparent;
  color: #2c3e50;
  font-size: 18px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .drive-overlay {
    margin-left: 220px;
  }
}
