/*! Custom styles for this template */
body {
  background-color: #fff;
  border-color: #fff;
  color: #2c3e50;
}
.mail {
  background-color: #fff;
  border-color: #fff;
  color: #2c3e50;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.mail-inbox {
  display: none;
}
.mail-inbox.active {
  display: block;
}
.mail-toolbar {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 0px 0px #cad6e2;
          box-shadow: 0px 1px 0px 0px #cad6e2;
}
.mail-toolbar:before,
.mail-toolbar:after {
  content: " ";
  display: table;
}
.mail-toolbar:after {
  clear: both;
}
.mail-toolbar.sticky {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
.mail-toolbar-tools {
  float: right;
}
.mail-inbox-body {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
       -o-animation-name: fadeInRight;
          animation-name: fadeInRight;
  padding: 15px 15px 45px;
}
.mail-list {
  list-style: none;
  margin: 0 -15px -15px;
  padding-left: 0;
}
.mail-list-item {
  border-top: 1px solid #cad6e2;
  cursor: pointer;
  display: table;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}
.mail-list-item:first-child {
  border-top: none;
}
.mail-list-item.hover {
  background-color: #e5ebf1;
  color: #3a5269;
}
.mail-list-item.selected {
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: #fff;
}
.mail-list-item.active {
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: #fff;
}
.mail-list-checkbox {
  display: table-cell;
  padding-left: 15px;
  vertical-align: middle;
  width: 30px;
}
.mail-list-link {
  color: inherit;
  display: table-cell;
  padding: 10px 15px;
}
.mail-list-link:hover,
.mail-list-link:focus {
  color: inherit;
  text-decoration: none;
}
.mail-list-meta {
  float: right;
  height: 20px;
  line-height: 20px;
  margin-bottom: 0;
  white-space: nowrap;
}
.mail-list-attachments {
  float: left;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}
.mail-list-date {
  font-size: 12px;
  margin-left: 25px;
}
.mail-list-name {
  font-size: 15px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mail-list-subject {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}
.mail-list-message {
  font-size: 12px;
  line-height: 20px;
}
.mail-content {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
       -o-animation-name: fadeInRight;
          animation-name: fadeInRight;
  display: none;
}
.mail-content.active {
  display: block;
}
.mail-content-body {
  padding: 15px 15px 45px;
}
.mail-heading {
  font-weight: 300;
  margin-top: 0;
}
.mail-sender {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.mail-sender:before,
.mail-sender:after {
  content: " ";
  display: table;
}
.mail-sender:after {
  clear: both;
}
.mail-sender-avatar {
  float: left;
  margin-right: 10px;
}
.mail-sender-details {
  min-height: 40px;
  overflow: hidden;
}
.mail-sender-name {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
.dropdown-menu {
  margin: 0;
}
.sidenav > li.active > a:after {
  border-right-color: #fff;
}
@media (max-width: 992px) {
  .mail-list-subject,
  .mail-list-message {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media (min-width: 992px) {
  .mail-list {
    margin: 0;
  }
  .mail-list-name {
    float: left;
    padding-right: 15px;
    width: 200px;
  }
  .mail-list-content {
    display: block;
    overflow: hidden;
    padding-right: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .mail-list-subject {
    padding-right: 5px;
  }
}
@media (min-width: 768px) {
  .mail-toolbar.sticky {
    left: 220px;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }
  .layout-mini .mail-toolbar.sticky {
    left: 60px;
  }
}
