/*! Custom styles for this template */
.cart-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.cart-list-thumbnail {
  display: block;
  height: auto;
}
.cart-list-name {
  margin-top: 0;
}
.cart-list-actions {
  margin-bottom: 10px;
}
.cart-list-price {
  line-height: 34px;
  text-align: right;
}
.cart-list-subtotal {
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
}
.cart-subtotal {
  border-top: 1px solid #cad6e2;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.333333;
  margin-bottom: 15px;
  padding: 10px;
  text-align: right;
}
.cart-subtotal-amount {
  color: #e74c3c;
}
.cart-actions {
  padding: 10px;
  text-align: right;
}
.confirmation {
  text-align: center;
}
.confirmation-icon {
  color: #2c3e50;
}
.payment-card {
  background-color: #fff;
  border: 1px solid #f2f5f8;
  border-radius: 0;
  margin-bottom: 15px;
  padding: 15px;
}
.payment-card .table {
  margin-bottom: 0;
}
.payment-total-amount {
  color: #e74c3c;
  font-size: 18px;
  font-weight: 500;
}
.steps {
  margin-bottom: 30px;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .cart-list-item {
    border-top: 1px solid #cad6e2;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
  }
  .cart-list-item:before,
  .cart-list-item:after {
    content: " ";
    display: table;
  }
  .cart-list-item:after {
    clear: both;
  }
  .cart-list-image {
    float: left;
    margin-right: 15px;
  }
  .cart-list-thumbnail {
    max-width: 70px;
  }
  .cart-list-details {
    overflow: hidden;
  }
  .cart-list-price {
    clear: both;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
    width: 50%;
  }
  .cart-list-quantity {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
  }
  .cart-list-subtotal {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 25%;
  }
}
@media (min-width: 768px) {
  .cart {
    display: table;
    width: 100%;
  }
  .cart-list-item {
    border-collapse: collapse;
    display: table-row;
  }
  .cart-list-image,
  .cart-list-details,
  .cart-list-quantity,
  .cart-list-subtotal {
    border-top: 1px solid #cad6e2;
    display: table-cell;
    padding: 10px;
    vertical-align: top;
  }
  .cart-list-thumbnail {
    max-width: 90px;
  }
  .cart-list-price {
    display: none;
  }
  .cart-list-quantity {
    min-width: 90px;
  }
  .cart-list-subtotal {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .cart-list-price {
    border-top: 1px solid #cad6e2;
    display: table-cell;
    padding: 10px;
    vertical-align: top;
  }
}
@media (min-width: 1200px) {
  .cart-list-price {
    white-space: nowrap;
  }
}
