<div class="layout-header">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand navbar-brand-center" href="index.html">
        <img class="navbar-brand-logo" src="assets/img/logo-inverse.svg" alt="Elephant">
      </a>
      <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
        <span class="sr-only">Toggle navigation</span>
        <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
        <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
      </button>
      <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="arrow-up"></span>
        <span class="ellipsis ellipsis-vertical">
              <img class="ellipsis-object" width="32" height="32" src="assets/img/0180441436.jpg" alt="Teddy Wilson">
            </span>
      </button>
    </div>
    <div class="navbar-toggleable">
      <nav id="navbar" class="navbar-collapse collapse">
        <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" aria-expanded="true" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="bars">
                <span class="bar-line bar-line-1 out"></span>
                <span class="bar-line bar-line-2 out"></span>
                <span class="bar-line bar-line-3 out"></span>
                <span class="bar-line bar-line-4 in"></span>
                <span class="bar-line bar-line-5 in"></span>
                <span class="bar-line bar-line-6 in"></span>
              </span>
        </button>
        <ul class="nav navbar-nav navbar-right">
          <li class="visible-xs-block">
            <h4 class="navbar-text text-center">Hi, Teddy Wilson</h4>
          </li>
          <li class="hidden-xs hidden-sm">
            <form class="navbar-search navbar-search-collapsed">
              <div class="navbar-search-group">
                <input class="navbar-search-input" type="text" placeholder="Search for people, companies, and more&hellip;">
                <button class="navbar-search-toggler" title="Expand search form ( S )" aria-expanded="false" type="submit">
                  <span class="icon icon-search icon-lg"></span>
                </button>
                <button class="navbar-search-adv-btn" type="button">Advanced</button>
              </div>
            </form>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
                  <span class="icon-with-child hidden-xs">
                    <span class="icon icon-envelope-o icon-lg"></span>
                    <span class="badge badge-danger badge-above right">8</span>
                  </span>
              <span class="visible-xs-block">
                    <span class="icon icon-envelope icon-lg icon-fw"></span>
                    <span class="badge badge-danger pull-right">8</span>
                    Messages
                  </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
              <div class="dropdown-header">
                <a class="dropdown-link" href="compose.html">New Message</a>
                <h5 class="dropdown-heading">Recent messages</h5>
              </div>
              <div class="dropdown-footer">
                <a class="dropdown-btn" href="#">See All</a>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
                  <span class="icon-with-child hidden-xs">
                    <span class="icon icon-bell-o icon-lg"></span>
                    <span class="badge badge-danger badge-above right">7</span>
                  </span>
              <span class="visible-xs-block">
                    <span class="icon icon-bell icon-lg icon-fw"></span>
                    <span class="badge badge-danger pull-right">7</span>
                    Notifications
                  </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
              <div class="dropdown-header">
                <a class="dropdown-link" href="#">Mark all as read</a>
                <h5 class="dropdown-heading">Recent Notifications</h5>
              </div>
              <div class="dropdown-body">
                <div class="list-group list-group-divided custom-scrollbar">
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">35 min</small>
                        <h5 class="notification-heading">Update Status</h5>
                        <p class="notification-text">
                          <small class="truncate">Failed to get available update data. To ensure the proper functioning of your application, update now.</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <span class="icon icon-flag bg-success rounded sq-40"></span>
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">43 min</small>
                        <h5 class="notification-heading">Account Contact Change</h5>
                        <p class="notification-text">
                          <small class="truncate">A contact detail associated with your account teddy.wilson, has recently changed.</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">1 hr</small>
                        <h5 class="notification-heading">Failed Login Warning</h5>
                        <p class="notification-text">
                          <small class="truncate">There was a failed login attempt from "192.98.19.164" into the account teddy.wilson.</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <img class="rounded" width="40" height="40" src="assets/img/0310728269.jpg" alt="Daniel Taylor">
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">4 hr</small>
                        <h5 class="notification-heading">Daniel Taylor</h5>
                        <p class="notification-text">
                          <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <img class="rounded" width="40" height="40" src="assets/img/0872116906.jpg" alt="Emma Lewis">
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">8 hr</small>
                        <h5 class="notification-heading">Emma Lewis</h5>
                        <p class="notification-text">
                          <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <img class="rounded" width="40" height="40" src="assets/img/0601274412.jpg" alt="Sophia Evans">
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">8 hr</small>
                        <h5 class="notification-heading">Sophia Evans</h5>
                        <p class="notification-text">
                          <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <img class="rounded" width="40" height="40" src="assets/img/0180441436.jpg" alt="Teddy Wilson">
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">9 hr</small>
                        <h5 class="notification-heading">Teddy Wilson</h5>
                        <p class="notification-text">
                          <small class="truncate">Published a new post: "Everything you know about Bootstrap is wrong".</small>
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="dropdown-footer">
                <a class="dropdown-btn" href="#">See All</a>
              </div>
            </div>
          </li>
          <li class="dropdown hidden-xs">
            <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
              <img class="rounded" width="36" height="36" src="assets/img/0180441436.jpg" alt="Teddy Wilson"> Teddy Wilson
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="upgrade.html">
                  <h5 class="navbar-upgrade-heading">
                    Upgrade Now
                    <small class="navbar-upgrade-notification">You have 15 days left in your trial.</small>
                  </h5>
                </a>
              </li>
              <li class="divider"></li>
              <li class="navbar-upgrade-version">Version: 1.0.0</li>
              <li class="divider"></li>
              <li><a href="contacts.html">Contacts</a></li>
              <li><a href="profile.html">Profile</a></li>
              <li><a href="login-1.html">Sign out</a></li>
            </ul>
          </li>
          <li class="visible-xs-block">
            <a href="contacts.html">
              <span class="icon icon-users icon-lg icon-fw"></span>
              Contacts
            </a>
          </li>
          <li class="visible-xs-block">
            <a href="profile.html">
              <span class="icon icon-user icon-lg icon-fw"></span>
              Profile
            </a>
          </li>
          <li class="visible-xs-block">
            <a href="login-1.html">
              <span class="icon icon-power-off icon-lg icon-fw"></span>
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="layout-main">
  <div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
      <div class="custom-scrollbar">
        <nav id="sidenav" class="sidenav-collapse collapse">
          <ul class="sidenav">
            <li class="sidenav-search hidden-md hidden-lg">
              <form class="sidenav-form" action="/">
                <div class="form-group form-group-sm">
                  <div class="input-with-icon">
                    <input class="form-control" type="text" placeholder="Search…">
                    <span class="icon icon-search input-icon"></span>
                  </div>
                </div>
              </form>
            </li>

            <li class="sidenav-heading">Mercator</li>
            <li class="sidenav-item has-subnav"  *ngFor="let site of sites">
              <a [routerLink]="[site.name]"  aria-haspopup="true">
                <span class="sidenav-icon icon icon-briefcase"></span>
                <span class="sidenav-label">{{site.name}}</span>
              </a>
              <ul class="sidenav-subnav collapse">
                <li class="sidenav-subheading">UI Elements</li>
                <li><a href="arrows.html">Arrows</a></li>
                <li><a href="badges.html">Badges</a></li>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="cards.html">Cards</a></li>
                <li><a href="dividers.html">Dividers</a></li>
                <li><a href="files.html">Files</a></li>
                <li><a href="flags.html">Flags</a></li>
                <li><a href="grid-system.html">Grid system</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="labels.html">Labels</a></li>
                <li><a href="lists.html">Lists</a></li>
                <li><a href="modals.html">Modals <span class="badge badge-danger">New</span></a></li>
                <li><a href="pricing-cards.html">Pricing cards</a></li>
                <li><a href="progress-bars.html">Progress bars</a></li>
                <li><a href="spinners.html">Spinners</a></li>
                <li><a href="tabs.html">Tabs <span class="badge badge-danger">New</span></a></li>
                <li><a href="toastr.html">Toastr</a></li>
                <li><a href="typography.html">Typography</a></li>
              </ul>
            </li>


          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="layout-content">
    <div class="layout-content-body">

      <router-outlet></router-outlet>



    </div>
  </div>
  <div class="layout-footer">
    <div class="layout-footer-body">
      <small class="version">Version 1.0.0</small>
      <small class="copyright">2017 &copy; Mercator By  </small>
    </div>
  </div>
</div>
