<div class="layout-header">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand navbar-brand-center" href="index.html">
        <img class="navbar-brand-logo" src="assets/img/logo-inverse.svg" alt="Elephant">
      </a>
      <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
        <span class="sr-only">Toggle navigation</span>
        <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
        <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
      </button>
      <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="arrow-up"></span>
        <span class="ellipsis ellipsis-vertical">
              <img class="ellipsis-object" width="32" height="32" src="assets/img/0180441436.jpg" alt="Teddy Wilson">
            </span>
      </button>
    </div>
  </div>
</div>
<div class="layout-main">
  <div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
      <div class="custom-scrollbar">
        <nav id="sidenav" class="sidenav-collapse collapse">
          <ul class="sidenav">
            <li class="sidenav-search hidden-md hidden-lg">
              <form class="sidenav-form" action="/">
                <div class="form-group form-group-sm">
                  <div class="input-with-icon">
                    <input class="form-control" type="text" placeholder="Search…">
                    <span class="icon icon-search input-icon"></span>
                  </div>
                </div>
              </form>
            </li>

            <li class="sidenav-heading">Mercator</li>
            <li class="sidenav-item has-subnav"  *ngFor="let site of sites">
              <a [routerLink]="[site.name]"  aria-haspopup="true">
                <span class="sidenav-icon icon icon-briefcase"></span>
                <span class="sidenav-label">{{site.name}}</span>
              </a>
              <ul class="sidenav-subnav collapse">
                <li class="sidenav-subheading">UI Elements</li>
                <li><a href="arrows.html">Arrows</a></li>
                <li><a href="badges.html">Badges</a></li>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="cards.html">Cards</a></li>
                <li><a href="dividers.html">Dividers</a></li>
                <li><a href="files.html">Files</a></li>
                <li><a href="flags.html">Flags</a></li>
                <li><a href="grid-system.html">Grid system</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="labels.html">Labels</a></li>
                <li><a href="lists.html">Lists</a></li>
                <li><a href="modals.html">Modals <span class="badge badge-danger">New</span></a></li>
                <li><a href="pricing-cards.html">Pricing cards</a></li>
                <li><a href="progress-bars.html">Progress bars</a></li>
                <li><a href="spinners.html">Spinners</a></li>
                <li><a href="tabs.html">Tabs <span class="badge badge-danger">New</span></a></li>
                <li><a href="toastr.html">Toastr</a></li>
                <li><a href="typography.html">Typography</a></li>
              </ul>
            </li>


          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="layout-content">
    <div class="layout-content-body">

      <router-outlet></router-outlet>



    </div>
  </div>
  <div class="layout-footer">
    <div class="layout-footer-body">
      <small class="version">Version 1.0.0</small>
      <small class="copyright">2017 &copy; Mercator By  </small>
    </div>
  </div>
</div>
