<svg id="motemap" viewBox="-1 -1 22 30" preserveAspectRatio="xMidYMid meet">
  <circle *ngFor="let circle of circles; let i=index" (click)="boom(i, circle.msg)"
              [attr.cx]="circle.x"
              [attr.cy]="circle.y"
              [attr.r]="0.2"
              [attr.fill]="circle.color"/>
</svg>
<div id="graph">
  <h3>SRC_MAC: {{src_mac}}</h3>
  <h3>DST_MAC_0: {{dst_mac_list[0]}}</h3>
  <app-barchart
    [exp]="exp"
    [exp_type]="exp_type"
    [site]="site"
    [src_mac]="src_mac"
    [dst_mac_list]="dst_mac_list">
  </app-barchart>
</div>
