<div style="display: block">
  <h4 class="row" *ngIf="chartDataList?.length == 0">
    No graph found. Please select an experiment and/or some nodes.
  </h4>
  <canvas baseChart *ngFor="let chartData of chartDataList; let i=index"
          [datasets]="chartData"
          [labels]="chartLabelsList[i]"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
  height="200"></canvas>
</div>

